# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Pytest cache
.pytest_cache/

# IDE
.idea/

# Generated test artifacts
logs/
screenshots/allure generate allure-results -o allure-report --clean

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Allure
allure-results/
allure-report/